* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.hero {
  height: 100vh;
  background-image: linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8)),
    url("bg1.jpg");
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
}
.nav-bar {
  display: flex;
  padding: 40px 120px;
  justify-content: center;
  align-items: center;
}
.nav-logo img {
  border-radius: 30px;
}
.nav-links {
  flex: 1;
}
.nav-links ul {
  margin-left: 50px;
  display: inline;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 25px;
}
.nav-links ul a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li::after {
  content: "";
  width: 0;
  height: 2px;
  background: yellow;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.btn {
  padding: 10px 20px;
  border: 0;
  background: yellow;
  font-weight: bold;
  cursor: pointer;
}
.nav-links .btn {
  float: right;
}
.banner-title {
  margin: 120px;
  color: #fff;
}
.banner-title h1 {
  font-size: 64px;
  margin-bottom: 30px;
}
.banner-title h1 span {
  color: yellow;
}
.vertical-bar {
  height: 100%;
  background: #000;
  top: 0;
  left: 0;
  position: absolute;
}
.search-icon {
  height: 60%;
  width: 70px;
}
.search-icon .fa {
  font-size: 25px;
  color: white;
  display: block;
  cursor: pointer;
  margin: 45px 23px;
}
.social-icon {
  height: 35%;
  width: 70px;
  background: yellow;

  text-align: center;
  padding-top: 27%;
  bottom: 0;
  position: absolute;
}
.social-icon .fa {
  margin: 15px 23px;
  display: block;
  padding: 8px;
}
.notifications {
  display: flex;
  width: 400px;

  right: 0;
  bottom: 0;
  position: absolute;
  background: yellow;
  align-items: center;
  /* position: relative; */
}
.contents {
  flex-basis: 100%;
  padding: 10px;
  display: none;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.active {
  display: flex;
}
.notifications-img {
  flex-basis: 50%;
}
.inner-content {
  flex-basis: 50%;
  flex-direction: column;
}
.notifications-img img {
  width: 100%;
}
.contents a {
  text-decoration: none;
  color: #000;
  font-size: 13px;
  margin: 0 10px;
}
.contents p {
  text-align: center;
  margin-top: 10px;
  bottom: 0px;
}

.nav-bar .fa {
  display: none;
}

@media (max-width: 700px) {
  .vertical-bar {
    display: none;
  }
  .banner-title {
    font-size: 50px;
  }
  .notifications {
    width: 100%;
  }
  .nav-bar {
    padding: 10px 30px;
  }
  .fa-bars {
    position: absolute;
    right: 20px;
    top: 10px;
  }
  .nav-bar .fa {
    display: block;
    color: white;
    margin: 10px 25px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links {
    height: 100vh;
    width: 200px;
    background: #000;
    top: 0;
    right: -200px;
    position: absolute;
    text-align: left;
    z-index: 2;
    transition: 0.5s;
  }
  .nav-links ul a {
    display: block;
  }
  .nav-links .btn {
    float: none;
    margin-left: 25px;
    margin-left: 10px;
  }
  .banner-title h1 {
    font-size: 30px;
    margin: 0;
    padding: 0;
  }
}

.fixed-table {
  width: 100%; 
  border-collapse: collapse;
  table-layout: fixed;
}

.fixed-table th, .fixed-table td {
  border: 1px solid #000;
  padding: 4px;
  text-align: justify;
  width: 33.33%; /* Membagi kolom sama rata */
}

.borderless-table {
  width: 100%; /* Atau tetapkan lebar spesifik, misal 600px */
  border-collapse: collapse;
  table-layout: fixed; /* Menetapkan layout tabel ke fixed */
  border: none; /* Menghilangkan border pada tabel */
}

.borderless-table th, .borderless-table td {
  border: none; /* Menghilangkan border pada sel tabel */
  padding: 4px;
  text-align: left;
  width: 33.33%; /* Membagi kolom sama rata */
}

.image-table {
  width: 100%; /* Atau tetapkan lebar spesifik, misal 600px */
  border-collapse: collapse;
  table-layout: fixed; /* Menetapkan layout tabel ke fixed */
  border: none; /* Menghilangkan border pada tabel */
}

.image-table th, .image-table td {
  border: none; /* Menghilangkan border pada sel tabel */
  padding: 4px;
  text-align: justify;
}

.product-image {
  display: block;
  width: 100%; /* Pastikan gambar memenuhi lebar container */
  height: auto; /* Biarkan tinggi gambar menyesuaikan proporsi aslinya */
}

.montserrat-font {
  font-family: 'Montserrat', sans-serif;
  vertical-align: top;
}
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.hero {
  height: 100vh;
  background-image: linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8)),
    url("bg1.jpg");
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
}
.hero-recipe {
  height: 100vh;
  background-image: linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8)),
    url("bg2.jpg");
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
}
.nav-bar {
  display: flex;
  padding: 40px 120px;
  justify-content: center;
  align-items: center;
}
.nav-logo img {
  border-radius: 30px;
}
.nav-links {
  flex: 1;
}
.nav-links ul {
  margin-left: 50px;
  display: inline;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 25px;
}
.nav-links ul a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li::after {
  content: "";
  width: 0;
  height: 2px;
  background: yellow;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.btn {
  padding: 10px 20px;
  border: 0;
  background: yellow;
  font-weight: bold;
  cursor: pointer;
}
.nav-links .btn {
  float: right;
}
.banner-title {
  margin: 120px;
  color: #fff;
}
.banner-title h1 {
  font-size: 64px;
  margin-bottom: 30px;
}
.banner-title h1 span {
  color: yellow;
}
.vertical-bar {
  height: 100%;
  background: #000;
  top: 0;
  left: 0;
  position: absolute;
}
.search-icon {
  height: 60%;
  width: 70px;
}
.search-icon .fa {
  font-size: 25px;
  color: white;
  display: block;
  cursor: pointer;
  margin: 45px 23px;
}
.social-icon {
  height: 35%;
  width: 70px;
  background: yellow;

  text-align: center;
  padding-top: 27%;
  bottom: 0;
  position: absolute;
}
.social-icon .fa {
  margin: 15px 23px;
  display: block;
  padding: 8px;
}
.notifications {
  display: flex;
  width: 400px;

  right: 0;
  bottom: 0;
  position: absolute;
  background: yellow;
  align-items: center;
  /* position: relative; */
}
.contents {
  flex-basis: 100%;
  padding: 10px;
  display: none;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.active {
  display: flex;
}
.notifications-img {
  flex-basis: 50%;
}
.inner-content {
  flex-basis: 50%;
  flex-direction: column;
}
.notifications-img img {
  width: 100%;
}
.contents a {
  text-decoration: none;
  color: #000;
  font-size: 13px;
  margin: 0 10px;
}
.contents p {
  text-align: center;
  margin-top: 10px;
  bottom: 0px;
}

.nav-bar .fa {
  display: none;
}

@media (max-width: 700px) {
  .vertical-bar {
    display: none;
  }
  .banner-title {
    font-size: 50px;
  }
  .notifications {
    width: 100%;
  }
  .nav-bar {
    padding: 10px 30px;
  }
  .fa-bars {
    position: absolute;
    right: 20px;
    top: 10px;
  }
  .nav-bar .fa {
    display: block;
    color: white;
    margin: 10px 25px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links {
    height: 100vh;
    width: 200px;
    background: #000;
    top: 0;
    right: -200px;
    position: absolute;
    text-align: left;
    z-index: 2;
    transition: 0.5s;
  }
  .nav-links ul a {
    display: block;
  }
  .nav-links .btn {
    float: none;
    margin-left: 25px;
    margin-left: 10px;
  }
  .banner-title h1 {
    font-size: 30px;
    margin: 0;
    padding: 0;
  }
}
.fixed-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.fixed-table th,
.fixed-table td {
  border: 1px solid #000;
  padding: 4px;
  text-align: justify;
  width: 33.33%; /* Membagi kolom sama rata */
}

.borderless-table {
  width: 100%; /* Atau tetapkan lebar spesifik, misal 600px */
  border-collapse: collapse;
  table-layout: fixed; /* Menetapkan layout tabel ke fixed */
  border: none; /* Menghilangkan border pada tabel */
}

.borderless-table th,
.borderless-table td {
  border: none; /* Menghilangkan border pada sel tabel */
  padding: 4px;
  text-align: left;
  width: 33.33%; /* Membagi kolom sama rata */
}

.image-table {
  width: 100%; /* Atau tetapkan lebar spesifik, misal 600px */
  border-collapse: collapse;
  table-layout: fixed; /* Menetapkan layout tabel ke fixed */
  border: none; /* Menghilangkan border pada tabel */
}

.image-table th,
.image-table td {
  border: none; /* Menghilangkan border pada sel tabel */
  padding: 4px;
  text-align: justify;
}

.product-image {
  display: block;
  width: 100%; /* Pastikan gambar memenuhi lebar container */
  height: auto; /* Biarkan tinggi gambar menyesuaikan proporsi aslinya */
}

.montserrat-font {
  font-family: "Montserrat", sans-serif;
  vertical-align: top;
}
.container-card {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-right: 100px;
  width: 1200px;
  /* background-color: #fff; */
}
.card {
  /* Add shadows to create the "card" effect */
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: yellow;
  border-radius: 8px 8px 8px 8px;
  margin: 10px 10px 10px 10px;
}
.card img {
  width: 96.5%;
  height: 60%;
  border-radius: 8px 8px 0 0;
  padding: 5px;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 yellow;
}
/* Add some padding inside the card container */
.text-card {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  width: 100%;
}
.text-card p {
  padding-top: 1px;
  padding-left: 2px;
  padding-right: 17px;
  font-size: small;
  text-align: justify;
}
